<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @card.user_id %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @card.card_number %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @card.expiration_date %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @card.billing_address %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
